.wrapper{
  width:40%;
  background-image: linear-gradient(to bottom right, #70e1f5, #ffd194); ;
  height:400px;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  position:relative;
  border-radius:10px;
}
.buttons{
  position:absolute;
  bottom:50px;
  text-align:center;
 }
button{
  border:none;
  outline:none;
  margin:15px;
  padding:8px;
  font-size:15px;
  color:white;
  border-radius:10px;
  text-transform:uppercase;
}
.inc{
  background-color:green;
}
.dec{
  background-color:red;
}
div > h1{
 font-size:100px;
}
div:first-child{
  display:flex;
  justify-content:center;
}
